.user-login {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 320px;
    margin-top: -9em;
    margin-left: -15em;
    box-shadow: 0 0 10px #e5e5e5;
    padding: 20px;
}
.user-login h4 {
    margin-bottom: 55px;
    margin-top: 0px;
    text-align: center;
}
.alert-toast {
    position: fixed;
    right: 30px;
    top: 30px;
}